<div class="m-5" style="width: 500px">

  <h1>Answer</h1>
  <div class="border-left">
    <p>Question: <%=@question%></p>
    <p>Answer: <%=@answer%></p>
  </div>
  <%=link_to"Ask a new question", ask_path%>
</div>
